@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/css/StyleSheet.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center info">
        <h2>We are having a party -- the likes you have never seen!</h2>
        <h4>When: February 7, 2018, 8:00pm </h4>
        <h4>Where: 5 Star Island Drive</h4>
        <h4>Miami Beach, FL </h4>

        <a class="btn btn-primary"asp-action="RsvpForm">RSVP here</a>
    </div>
</body>
</html>


