@model IEnumerable<PartyInvites.Models.GuestResponse>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="/css/StyleSheet.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="panel-body">
        <h2>Here are the party people that can make it...</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <td>Name:</td>
                    <td>Phone:</td>
                    <td>Email:</td>

                </tr>
            </thead>
            <tbody>
                @{
                foreach (var response in Model)
                {
                    <tr>
                        <td>@response.Name</td>
                        <td>@response.Phone</td>
                    <td>@response.Email</td>
            </tr>

    }
                }

        </table>
    </div>





</body>
</html>