<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="/lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
    <style>
        h6{margin:25px}
        h3{margin:25px}
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
