@model Comment

<h2>Add a comment to this user's message...</h2>
<form asp-action="CreateComment" asp-controller="home" method="post">
    <label>Comment:</label>
    <textarea asp-for="comment" name="comment"></textarea>
    @Model.message_id
    <input type="hidden" asp-for="message_id" name="message_id" value="@Model.message_id"/>
    <input type="submit" name="name"  value="submit"/>
</form>