
<form asp-action="Create" method="post">
    <p class="message">Add a message:</p>
    <textarea cols="25" rows="5" name="message"></textarea>
    <button class="btn btn-sm btn-primary">Post</button>
</form>