@model RegisterViewModel

<div class="container">
    @TempData["msg"]
    <form class="p-1 card w-50" asp-controller="Home" asp-action="Register" method="post">
        <h3 class="card-header">Sign up!</h3>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="card-body">
        <div class="form-group row">

            <label class="col-md-4 col-form-label" asp-for="FirstName">First Name: </label>


            <input class="form-control col-md-8" asp-for="FirstName" />

            <span asp-validation-for="FirstName" class="text-danger"></span>


        </div>
        <div class="form-group row">

            <label class="col-md-4 col-form-label" asp-for="LastName">Last Name: </label>
            <input class="form-control col-md-8" asp-for="LastName" />

            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label" asp-for="Email">Email: </label>
            <input class="form-control col-md-8" asp-for="Email" />

            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label" asp-for="Password">Password: </label>
            <input class="form-control col-md-8" asp-for="Password" />

            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-group row">
            <label class="col-md-4 col-form-label" asp-for="Password2">Verify Password: </label>

            <input class="form-control col-md-8" asp-for="Password2" />

            <span asp-validation-for="Password2" class="text-danger"></span>
        </div>
        <div class="form-group row text-center">

            <input class="form-control col-md-12 btn btn-primary" type="submit" value="Register" />
        </div>
    </form>
    </div>

<div class="text-center m-3">
    <form asp-action="Login" method="get">
        <p>already registered? Go to <input type="submit" value="login" /></p>
    </form>
</div>
