
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style> div{ border: black solid 2px; margin: 200px auto; width:300px; text-align: center; padding: 20px;}</style>
</head>
<body>
    <div>
        <h2>Random Password (password #@ViewBag.Count):</h2>
        <h3>@ViewBag.Password</h3>
        <form action="" method="post">
            <input type="submit" id="password" name="password" value="Get New Password" />
        </form>
    </div>
@*<script>*@
@*    var pw = document.getElementById("password");*@
@*    pw.addEventListener("click", generate, false);*@
@*    function generate() {$(document).ready (function() {
@*        $.get("",*@
@*            function(res) {*@
@*                console.log("button clicked");*@
@**@
@*            }});*@
@*    }*@
@*</script>*@
</body>
</html>
